@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}
:root {

    --primaryColor: #f1f1f1;
    --black: #222;
    --black2: #555;
    --black3: #252525;
    --black4: #000;
    --black5: #212529;
    --orange: #eb0028;
    --orange1: #e9304f;
    --orange2: #f57489;
    --orange3: #ec92a1;
    --orange4: #f3bac3;
    --white: #fff;
    --grey4: rgb(241, 240, 240);
    --grey: #959595;
    --grey2: #666;
    --smartBlue: #59B2E0;
    --grey3: #ccc;
    --secondaryColor: #2b1f4d;
    --yellow: #ffc107;
    --green: #19b55c;
    --dark_green: #adeec9e5;
    --blue: rgb(56, 10, 223);
    --bootstrap_border: #00000020;
    --facebook-color: #3b5998;
    --instagram-color: #e1306c;
    --tweeter-color: #1da1f2;
    --whatsapp-color: #25d366;
    --pinterest-color: #bd081c;
    --linkedin-color:#0077b5;
    --color-primary:#0666f6;
    --color-danger:#ff7782;
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant:#111e88;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;

    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow:0 2rem 3rem var(--color-light);
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
  }
body {
	line-height: 17px;
	background-color: #E6EAE8;
}

a {
	color: #20AAE5;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 40px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.logo a{
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}

.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 90%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
	color: #555;
}

.user_details {
	width: 300px;
	float: left;
	margin-bottom: 20px;
	z-index: 1;
}

.user_details img {
	height: 120px;
	border-radius: 5px;
	margin-right: 5px;
}

.user_details_left_right {
	width: 120px;
	display: inline-table;
	position: absolute;
}

.main_column {
	float:right;
	width: 68%;
	z-index: -1;
	min-height: 170px;
	margin-bottom: 0.25rem;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}
.fcm-token-loading-container{
	color: #fff;
    background:  #FCD116;
    padding: 5px 4px;
    font-size: small;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border-bottom: 10px solid  #FCD116;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fcm-token-loading-container h3{
    color: #fff;
    background: #FCD116;
    padding: 5px 4px;
    font-size: larger;
	display: inline;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-weight: bold;
	text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.loading-token-active{
display: none;
}
.post_form input[type="submit"] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #1E75CA;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor:pointer;
}
.content-post-bottom{
	width: 100%;
	margin-top: 0.25rem;
	border-bottom: 1px solid;
}
.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;	
	width: 100%;
	margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
	width: 30rem;
	padding: 0px;
	text-decoration: none;
	color:#20AAE5;
	border:none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_left {
	top: -10px;
	width: 17%;
	max-width: 240px;
	min-width: 130px;
	height: 100%;
	float: left;
	position: relative;
	background-color: #37B0E9;
	border-right: 10px solid #83D6FE;
	color: #CBEAF8;
	margin-right: 20px;
}

.fundi-profile-img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}
.duka-profile-img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;
}
.individual-profile-img{
min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #83D6FE;
	border-radius: 100px;	
}
.more-activity-header, .more-personal-header, .more-address-header{
	border-radius: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    font-weight: bold;
}
.more-activity-header{
color: #1EB53A;
}
.more-personal-header{
color: #FCD116;
}
.more-address-header{
color: #00A3DD;
}
.profile_info {
	display: list-item;
	background-color: #2980b9;
	width: 100%;
	padding: 10px 0 10px 0;
}
.fundi-activation-deactivation-container{
	width: 100%;
}
.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}
.user-sub-token-post-container, .user-add-token-post-container{
	width: 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.user-sub-token-post-container input[type="number"], .user-add-token-post-container input[type="number"]{
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
	border-radius: 5px;
}
.user-sub-token-post-container button, .user-add-token-post-container button{
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}
.post-main-reaction-container{
	  width: 98%;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
	display: grid;
    height: auto;
    grid-auto-flow: column;
    grid-gap: 2px;
}
.post-main-reaction-container button{
	width: 13rem;
    height: 30px;
    float: right;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}
.btn-post-notification-complete{
	width: 13rem;
    height: 30px;
	float: left;
    margin-left: 35%;
    border-radius: 5px;
    color: #fff;
}
.notify-box{
width: 60%;
	float: left;
	margin-left: 10%;
	background: #fff;
	border-bottom: 10px solid #20aae5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.notify-box-btn{
        cursor: pointer;
        transition: 100ms;
        transform: scale(0.8);
    }
    
	.notify-box-btn:hover{
        transform: scale(1);
    }

	notify-box-btn:not(:hover) ul{
        display: none;
    }
.notify-box h2{
	color: #fff;
	background: #20aae5;
	padding: 5px 10px;
	font-size: small;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.notify-box ul{
	position: relative;
	background: #fff;
	margin-bottom: 0px !important;
	display: inline;
}

.notify-box ul li{
	list-style: none;
	padding: 5px;
	width: 100%;
	font-size: smaller;
	background: #fff;
	box-shadow: 0 5px 25px rgba(0,0 ,0 , .1);
	transition: transform 0.5s;
}
.notify-box ul li b{
	width: 20px;
    height: 20px;
    text-align: center;
	float: right;
    line-height: 20px;
    background: #2ecc71;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}
.notify-box ul li b i{
margin-top: 5px;
align-items: center;
}
.show-ul{
	display: inline;
}
.hide-ul{
	display: none;
}
.notify-box ul:hover li{
opacity: 0.2;
}
.notify-box ul li:hover{
transform: scale(1.1);
z-index: 100;
background: #20aae5; 
box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
color: #fff;
opacity: 1;
}
.notify-box ul li span{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background: #20aae5;
	color: #fff;
	display: inline-block;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 12px;
	font-weight: 600;
	transform: translateY(-2px);
}
.notify-box ul li:hover span{
background: #fff;
color: #20aae5;
}
.notify-box ul li:hover b{
background: #fff;
color: #2ecc71;
}
.notify-box p{
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	font-size: small;
font-weight: bold;
text-align: center;
color: #000;
}
.post-notification-container{
 	width: 98%;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
	display: grid;
    grid-auto-flow: row;
    grid-gap: 2px;
    grid-template-rows: min-content auto;
}
.center-action-main-container{
	width: 98%;
	display: grid;
    height: auto;
    grid-auto-flow: row;
    grid-gap: 2px;
    grid-template-rows: min-content auto;
}
.center-action-main-container h2{
    margin-left: 10px;
    font-size: large;
    position: relative;
    top: 9px;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
    color: #1086BA;
	margin-top: 0.25rem;
    margin-bottom: 0.25rem;
	font-weight: normal;
}
.center-action-container{
	width: 98%;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.center-action-container button{
	height: 35px;
	width: fit-content;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}
.center-action-container button:hover{
    background-color: #777;
	color: #000;
}
.center-action-selected-container{
	width: 98%;
	 margin-left: 1%;
}
.craft-display-main-containerr{
        width: 99%;
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
}
.craft-display-list-container{
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}
.craft-display-container, .add-craft-display-container, .craft-equip-display-container, .add-craft-equip-display-container{
content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2rem;
    color: var(--grey2);
    margin: 0 0.2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s ease;
	color: #fff;
	padding: 0.5rem 0.25rem;
	cursor: pointer;
}
.add-craft-display-container{
	border: 1px solid var(--color-success);
	background-color:var(--color-success);
}
.add-craft-equip-display-container{
		border: 1px solid var(--color-success);
	background-color:var(--color-success);
}
.craft-display-container span{
	border-radius: 0.25rem;
    border: 1px solid var(--grey2);
	color: #000;
	background-color:var(--grey2);
}
.country-display-main-containerr{
        width: 99%;
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
}
.country-display-list-container{
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
}
.country-display-container, .add-country-display-container, .country-region-display-container, .add-country-region-display-container, .country-wilaya-display-container, .add-country-wilaya-display-container{
content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2rem;
    color: var(--grey2);
    margin: 0 0.2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s ease;
	color: #fff;
	padding: 0.5rem 0.25rem;
	cursor: pointer;
}
.add-country-display-container{
	border: 1px solid var(--color-success);
	background-color:var(--color-success);
}
.add-country-region-display-container{
		border: 1px solid var(--color-success);
	background-color:var(--color-success);
}
.add-country-wilaya-display-container{
		border: 1px solid var(--color-success);
	background-color:var(--color-success);
}
.country-display-container span{
	border-radius: 0.25rem;
    border: 1px solid var(--grey3);
	color: #000;
	background-color:var(--grey3);
}
.center-equipment-action-selected-header table{
	width: 100%;
}
.center-equipment-action-selected-header table tr td:first-of-type{
	width: 70%;
	margin-top: 0.25rem;
}
.center-equipment-action-selected-header table tr td:first-of-type p{
	margin: 0 0 1px;
	font-size: small;
	font-weight: bold;
}
.center-equipment-action-selected-header table tr td button{
	    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2rem;
    color: var(--white);
    margin: 0 0.2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s ease;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}
.center-equipment-action-selected-header table tr{
	border-bottom: 1px solid var(--grey2);
}
.center-equipment-action-selected-header table tr td{
	padding-bottom: 0.25rem;
}
.center-equipment-action-selected-header table tr td .btn-country-delete, .center-equipment-action-selected-header table tr td .btn-craft-delete, .center-equipment-action-selected-header table tr td .btn-craft-delete, .center-equipment-action-selected-header table tr td .btn-craft-equipment-delete{
border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
}
.center-equipment-action-selected-header table tr td .btn-country-delete, .center-equipment-action-selected-header table tr td .btn-country-delete, .center-equipment-action-selected-header table tr td .btn-country-region-delete{
border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
}
.center-equipment-action-selected-header table tr td .btn-craft-update, .center-equipment-action-selected-header table tr td .btn-craft-equipment-update{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.center-equipment-action-selected-header table tr td .btn-country-update, .center-equipment-action-selected-header table tr td .btn-country-region-update{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.center-equipment-action-selected-header table tr td .btn-craft-equipment-activate{
border: 1px solid var(--yellow);
    background-color: var(--yellow);
}
.center-equipment-action-selected-header table tr td .btn-craft-activate.active-craft{
border: 1px solid var(--green);
    background-color: var(--green);
}
.center-equipment-action-selected-header table tr td .btn-craft-activate.in-active-craft{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.center-equipment-action-selected-header table tr td .btn-country-region-activate{
border: 1px solid var(--yellow);
    background-color: var(--yellow);
}
.center-equipment-action-selected-header table tr td .btn-country-wilaya-activate{
border: 1px solid var(--yellow);
    background-color: var(--yellow);
}
.center-equipment-action-selected-header table tr td .btn-country-activate.active-country{
border: 1px solid var(--green);
    background-color: var(--green);
}
.center-equipment-action-selected-header table tr td .btn-country-activate.in-active-country{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.center-equipment-action-selected-header table tr td button:hover{
	background-color: #777;
    color: #000;
}

.center-region-wilaya-action-selected-header table{
	width: 100%;
}
.center-region-wilaya-action-selected-header table tr td:first-of-type{
	width: 70%;
	margin-top: 0.25rem;
}
.center-region-wilaya-action-selected-header table tr td:first-of-type p{
	margin: 0 0 1px;
	font-size: small;
	font-weight: bold;
}
.center-region-wilaya-action-selected-header table tr td button{
	    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2rem;
    color: var(--white);
    margin: 0 0.2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s ease;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}
.center-region-wilaya-action-selected-header table tr{
	border-bottom: 1px solid var(--grey2);
}
.center-region-wilaya-action-selected-header table tr td{
	padding-bottom: 0.25rem;
}
.center-region-wilaya-action-selected-header table tr td .btn--region-wilaya-delete, .center-region-wilaya-action-selected-header table tr td .btn--region-wilaya-delete, .center-region-wilaya-action-selected-header table tr td .btn--region-wilaya-delete, .center-region-wilaya-action-selected-header table tr td .btn--region-wilaya-delete{
border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
}
.center-region-wilaya-action-selected-header table tr td .btn--region-wilaya-delete, .center-region-wilaya-action-selected-header table tr td .btn--region-wilaya-delete, .center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-delete{
border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
}
.center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-update, .center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-update{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-update, .center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-update{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}

.center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-activate.active-region-wilaya{
border: 1px solid var(--green);
    background-color: var(--green);
}

.center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-activate.in-active-region-wilaya{
border: 1px solid var(--orange);
    background-color: var(--orange);
}

.center-region-wilaya-action-selected-header table tr td .btn-country-region-wilaya-activate.in-active-region-wilaya{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.center-region-wilaya-action-selected-header table tr td button:hover{
	background-color: #777;
    color: #000;
}
.center-equipment-action-selected-input{
	padding-bottom: 0.25rem;
	margin-bottom: 0.25rem;
}
.center-equipment-action-selected-input table{
	width: 100%;
	background: var(--white);
}
.center-equipment-action-selected-input table tr td input[type="text"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.center-equipment-action-selected-input table tr td button {
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}


.center-region-wilaya-action-selected-input{
	padding-bottom: 0.25rem;
	margin-bottom: 0.25rem;
}
.center-region-wilaya-action-selected-input table{
	width: 100%;
	background: var(--white);
}
.center-region-wilaya-action-selected-input table tr td input[type="text"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.center-region-wilaya-action-selected-input table tr td button {
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.center-country-region-action-selected-input{
	padding-bottom: 0.25rem;
	margin-bottom: 0.25rem;
}
.center-country-region-action-selected-input table{
	width: 100%;
	background: var(--white);
}
.center-country-region-action-selected-input table tr td input[type="text"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.center-country-region-action-selected-input table tr td button {
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}
.center-region-action-selected-header table{
	width: 100%;
}
.center-region-action-selected-header table tr td:first-of-type{
	width: 70%;
	margin-top: 0.25rem;
}
.center-region-action-selected-header table tr td:first-of-type p{
	margin: 0 0 1px;
	font-size: small;
	font-weight: bold;
}
.center-region-action-selected-header table tr td button{
	    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 2rem;
    color: var(--white);
    margin: 0 0.2rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: small;
    transition: all 0.3s ease;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
}
.center-region-action-selected-header table tr{
	border-bottom: 1px solid var(--grey2);
}
.center-region-action-selected-header table tr td{
	padding-bottom: 0.25rem;
}
.center-region-action-selected-header table tr td .btn-country-delete, .center-region-action-selected-header table tr td .btn-craft-delete, .center-region-action-selected-header table tr td .btn-craft-delete, .center-region-action-selected-header table tr td .btn-craft-region-delete{
border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
}
.center-region-action-selected-header table tr td .btn-country-delete, .center-region-action-selected-header table tr td .btn-country-delete, .center-region-action-selected-header table tr td .btn-country-region-delete{
border: 1px solid var(--color-danger);
    background-color: var(--color-danger);
}
.center-region-action-selected-header table tr td .btn-craft-update, .center-region-action-selected-header table tr td .btn-craft-region-update{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.center-region-action-selected-header table tr td .btn-country-update, .center-region-action-selected-header table tr td .btn-country-region-update{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.center-region-action-selected-header table tr td .btn-craft-region-activate{
border: 1px solid var(--yellow);
    background-color: var(--yellow);
}
.center-region-action-selected-header table tr td .btn-craft-activate.active-craft{
border: 1px solid var(--green);
    background-color: var(--green);
}
.center-region-action-selected-header table tr td .btn-craft-activate.in-active-craft{
border: 1px solid var(--orange);
    background-color: var(--orange);
}

.center-region-action-selected-header table tr td .btn-country-wilaya-activate{
border: 1px solid var(--yellow);
    background-color: var(--yellow);
}
.center-region-action-selected-header table tr td .active-country-region{
border: 1px solid var(--green);
    background-color: var(--green);
}
.center-region-action-selected-header table tr td .in-active-country-region{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.center-region-action-selected-header table tr td button:hover{
	background-color: #777;
    color: #000;
}
.center-region-action-selected-input{
	padding-bottom: 0.25rem;
	margin-bottom: 0.25rem;
}
.center-region-action-selected-input table{
	width: 100%;
	background: var(--white);
}
.center-region-action-selected-input table tr td input[type="text"] {
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.center-region-action-selected-input table tr td button {
    height: 35px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}
.craft-display-container p, .craft-equip-display-container p, .add-craft-display-container p, .add-craft-equip-display-container p{
	    margin: 0 0 1px;
		font-weight: bold;
}
.craft-display-container:hover, .craft-equip-display-container:hover, .add-craft-display-container:hover, .add-craft-equip-display-container:hover{
    border: 1px solid var(--grey2);
	color: #000;
	background-color:var(--grey2);
}
.craft-display-container.active-craft{
	   border: 1px solid #FCD116;
	background-color:#FCD116;
}
.craft-equip-display-container.active-craft{
	   border: 1px solid var(--tweeter-color);
	background-color:var(--tweeter-color);
}

.craft-display-container.in-active-craft, .craft-equip-display-container.in-active-craft{
	border: 1px solid var(--orange);
    background-color: var(--orange);
}
.craft-equip-display-container span{
	    content: "";
     display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 1.8rem;
    color: var(--grey2);
    margin: 0.15rem 0.1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: x-small;
    transition: all 0.3s ease;
    color: #fff;
    padding: 0.25rem 0.25rem;
    cursor: pointer;
}

.craft-equip-display-container span.delete-craft-equipment{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.craft-equip-display-container span.update-craft-equipment{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.craft-equip-display-container span:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.craft-equipment-update-container{
	margin-top: 0.50rem;
}
.fundi-add-craft-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-craft-btn:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}

.fundi-add-craft-equipment-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-craft-equipment-btn:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.country-display-container p, .country-region-display-container p, .country-wilaya-display-container p, .add-country-display-container p, .add-country-region-display-container p, .add-country-wilaya-display-container p{
	    margin: 0 0 1px;
		font-weight: bold;
}
.country-display-container:hover, .country-region-display-container:hover, .country-wilaya-display-container:hover, .add-country-display-container:hover, .add-country-region-display-container:hover, .add-country-wilaya-display-container:hover{
    border: 1px solid var(--grey2);
	color: #000;
	background-color:var(--grey2);
}
.country-display-container p, .country-wilaya-display-container p, .add-country-display-container p, .add-country-wilaya-display-container p{
	    margin: 0 0 1px;
		font-weight: bold;
}
.country-display-container:hover, .country-wilaya-display-container:hover, .add-country-display-container:hover, .add-country-wilaya-display-container:hover{
    border: 1px solid var(--grey2);
	color: #000;
	background-color:var(--grey2);
}
.country-display-container.active-country{
	   border: 1px solid #FCD116;
	background-color:#FCD116;
}
.country-region-display-container.active-country{
	   border: 1px solid var(--tweeter-color);
	background-color:var(--tweeter-color);
}
.country-wilaya-display-container.active-country{
	   border: 1px solid var(--tweeter-color);
	background-color:var(--tweeter-color);
}
.country-wilaya-display-container.active-country{
	   border: 1px solid var(--tweeter-color);
	background-color:var(--tweeter-color);
}
.country-display-container.in-active-country, .country-wilaya-display-container.in-active-country, .country-region-display-container.in-active-country, .country-wilaya-display-container.in-active-country{
	border: 1px solid var(--orange);
    background-color: var(--orange);
}
.country-region-display-container span{
	    content: "";
     display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 1.8rem;
    color: var(--grey2);
    margin: 0.15rem 0.1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: x-small;
    transition: all 0.3s ease;
    color: #fff;
    padding: 0.25rem 0.25rem;
    cursor: pointer;
}

.country-region-display-container span.delete-country-region{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.country-region-display-container span.update-country-region{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.country-region-display-container span:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.country-region-update-container{
	margin-top: 0.50rem;
}
.country-region-wilaya-container{
	margin-top: 0.50rem;
}
.country-region-wilaya-display-main-container{
margin-top: 0.50rem;
}
.country-region-wilaya-display-main-container h3{
margin: 0 0 1px;
    font-size: small;
    font-weight: bold;
}
.country-wilaya-display-container span{
	    content: "";
     display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 1.8rem;
    color: var(--grey2);
    margin: 0.15rem 0.1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: x-small;
    transition: all 0.3s ease;
    color: #fff;
    padding: 0.25rem 0.25rem;
    cursor: pointer;
}

.country-wilaya-display-container span.delete-country-wilaya{
border: 1px solid var(--orange);
    background-color: var(--orange);
}
.country-wilaya-display-container span.update-country-wilaya{
border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.country-wilaya-display-container span:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.country-wilaya-update-container{
	margin-top: 0.50rem;
}
.fundi-add-country-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-country-btn:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.fundi-add-country-region-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-country-wilaya-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-country-btn:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.fundi-add-country-region-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-country-region-btn:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.fundi-add-country-wilaya-btn{
	border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
.fundi-add-country-wilaya-btn:hover{
	border: 1px solid var(--grey3);
    background-color: var(--grey3);
	color: var(--grey2);
}
.load-more-container{
    width: 68%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
}
.loading-more{
margin-left: 43%;
}
.load-more {
    display: none;
    border: transparent;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
    margin-left: 43%;
    color: var(--black3);
    border: 1px solid var(--black3);
    border-radius: 0.25rem;
    padding: 0.25rem 0.25;
    background: var(--grey4);
    text-decoration: none;
    transition: all 0.3s ease;
}
.load-more:hover{
    background: var(--orange1);
    border-color: transparent;
    color: var(--white);
}
.left-main-user-container{
	display: grid;
    height: auto;
    grid-auto-flow: row;
    grid-gap: 2px;
    grid-template-rows: min-content auto;
}
.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}
.btn-activate-deactivate, .btn-default-password {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}
#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}
#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column {
	min-width: 675px;
	float: left;
	width: 80%;
	z-index: -1;

}
.payment_status{
	border-radius: 0.25rem;
	padding: 0.25rem;
	text-align: center;
	color: #FFFF;
	font-weight: bold;
}
.success{
border: 1px solid #1EB53A;
background-color: #1EB53A;
}
.pending{
border: 1px solid #FCD116;
background-color: #FCD116;	
}
.posts_area h3{
	border-radius: 0.25rem;
	padding: 0.25rem;
	text-align: center;
	color: #000000;
	font-weight: bold;
}
.posts_area h3 b{
color: #00A3DD;
}
.tbl_container {
	 width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.profile_info_bottom {
	margin: 10 0 0 7px;

}

#message_textarea {
	width: 80%;
	margin-right: 8px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
}
#message_submit {
	height: 41px;
	width: 120px;
	margin: 0;
	position: absolute;
	border:none;
	background-color: #20AAE5;
	color: #156588;
	border-radius: 5px;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.message {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #fff;
}

.message#blue {
	background-color: #3498db;
	border-color: #2980b9;
	float: right;
	margin-bottom: 5px;
}
.message#green {
	background-color: #2ecc71;
	border-color: #27ae60;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages {
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: scroll;
	margin-bottom: 10px;
}

.loaded_conversations {
	max-height: 216px;
	overflow: scroll;
}

.user_found_messages {
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
	background-color: #D3D3D3;
}

.user_found_messages img {
	height: 35px;
	float: left;
}

#grey {
	color: #8C8C8C;
}

.resultDisplay {
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3;
}
.fundiDisplay:first-child, .dukaDisplay:first-child, .individualDisplay:first-child{
	border-top: 1px solid #D3D3D3;
}
.resultDisplay a {
	float: none;
}
.resultDisplay:hover {
	background-color: #EBEBEB;
	text-decoration: none;
}
.liveSearchProfilePic img, .result_profile_pic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #1E96CA;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}


.liveFundiProfilePic img , .liveIndividualText img, .liveDukaText img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveFundiText, .liveIndividualText, .liveDukaText{
	background-color: transparent;
	color: #1E96CA;
}

.liveFundiText p, .liveIndividualText p, .liveDukaText p{
	margin-left: 10px;
	font-size: 12px;
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification {
	height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.resultDisplayNotification img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}

.search {
	margin: 8px 0 0 15%;
}

.search #search_text_input {
	border: thin solid #E5E5E5;
  	float: left;
  	height: 23px;
  	outline: 0;
  	width: 100px;
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
  	border-top-left-radius: 3px;
  	border-bottom-left-radius: 3px;
}

.fundi, .duka, .individual {
	margin: 8px 0 0 15%;
}

.fundi #fundi_text_input, .individual #individual_text_input, .duka #duka_text_input {
	border: thin solid #E5E5E5;
  	float: left;
  	height: 23px;
  	outline: 0;
  	width: 100px;
  	border-top-right-radius: 0;
  	border-bottom-right-radius: 0;
  	border-top-left-radius: 3px;
  	border-bottom-left-radius: 3px;
}
.button_holder {
	background-color: #F1F1F1;
  	border: thin solid #e5e5e5;
  	cursor: pointer;
  	float: left;
  	height: 23px;
  	text-align: center;
  	width: 50px;
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
}

.button_holder img {
	margin-top: 1px;
    width: 20px;
}

.search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.fundi_results_footer, .individual_results_footer, .duka_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.fundi_results, .individual_results, .duka_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.fundiresults_footer, .individualresults_footer, .dukaresults_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.fundi_results_footer a, .individual_results_footer a , .duka_results_footer a  {
	color: #fff;
}

.fundi_result, .individual_result, .duka_result {
	padding: 10px;
    height: 100px;
}

.fundiPageFriendButtons, .individualPageFriendButtons, .dukaPageFriendButtons {
	float: right;
}

.fundiPageFriendButtons input[type="submit"], .individualPageFriendButtons input[type="submit"], .dukaPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}
.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}
#fundi_hr, #individual_hr, #duka_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
    margin: 1px 12px 0 2px;
    float: left;
}

#settings_input {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

 .default-password-descount-product-container{
        width: 96%;
        float: left;
        margin-left: 2%;
		margin-top: 0.25rem;
        margin-right: 2%;
        margin-bottom: 0.25rem;
        text-align: center;
    }
	.default-password-product-descount-action-container{
    width: 98%;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.all-user-single-container{
  width: 98%;
    float: left;
    margin-left: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
	display: grid;
    height: auto;
    grid-auto-flow: column;
    grid-gap: 2px;
    grid-template-columns: min-content auto;
	border-bottom: 1px solid  #D3D3D3;
}
.all-user-single-profile-pic{
height: 50px;
}
.all-user-single-profile-pic img {
    height: 50px !important;
	 width: 50px !important;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}
.btn-all-activate-deactivate, .btn-all-default-password {
    width: 10rem;
    height: 30px;
	float: right;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}
.complete-descount-default-password{
    float: left;
    width: 40%;
    }
    .cancel-complete-descount-default-password{
    float: right;
    width: 40%;
    }
.message .deleteButton {
   color: #fff;
   margin: 0 5px 5px 0;
   cursor: pointer;
}

.default-password-changed-container{
margin: 0.25rem;
}
.default-password-changed-container h5{
	font-weight: normal;
}
.default-password-success h5{
	color: #1EB53A;
}
.default-password-failed h5{
color: #e74c3c;
}
.postedImage img {
	max-height: 300px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

img.profilePicSmall {
	height: 40px;
	width: 40px;
	border-radius: 25px;
	margin: 5px; 
}


/* TABLE STYLE STARTS */

table caption {
	padding: .5em 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
/* TABLE STYLE ENDS */
